<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pialeda</title>
    <link rel="icon" type="image/png" th:href="@{/icon/PialedaLOGOcircle.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/custom-css/marketing/or-view-style.css}">
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/fontawesome/2302251f1c.js}" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="invoice-title">
                    <h2>Collection receipt</h2>
                    <h3 class="float-right">CR#: <strong th:text="${specificId.getCollectionReceiptNum}" style="color: red;"></strong></h3>
                </div>
                <hr>
                <div id="info" class="row">
                    <div class="col-md-6 client-info">
                    <form method="POST" th:action="@{/updateSpecificCr/{id}(id=${specificId.id})}" >

                    
                        <a th:href="@{/collection-receipt-list}" class="btn btn-secondary">back</a>
                        <input type="submit" class="btn btn-info" value="Save CR">
                        <address>
                            <h4>CR Client Info</h4><br>
                            <strong>Name: </strong><input name="clientName" th:value="${specificId.getRecvFrom}" autocomplete="no-autocomplete" size="40" required><br> 
                            <strong>Address: </strong><input name="clientAddress" type="text" th:value="${specificId.getClientAddress}" size="50" autocomplete="no-autocomplete" required><br>
                            <strong>TIN: </strong><input name="clientTIN" th:value="${specificId.getClientTin}" autocomplete="no-autocomplete" required><br>
                            <strong>Bus.Style: </strong><input name="busStyle" th:value="${specificId.getClientBus}" autocomplete="no-autocomplete" required><br>
                            <strong>Payment: </strong><input name="wPayment" th:value="${specificId.getClientSumOf}" size="50" autocomplete="no-autocomplete" required><br>
                            <strong>Payment: </strong><input name="nPayment" th:value="${#numbers.formatDecimal(specificId.getClientPayment, 0, 'COMMA', 2, 'POINT')}" autocomplete="no-autocomplete" style="color: red;" required><br>
                            <strong>Partial Payment: </strong><input name="partialP" th:value="${specificId.getPartialPaymentFor}" autocomplete="no-autocomplete" required><br>
                        </address>
                    </div>
                    <div id="supplier-info" class="col-md-6 text-md-right">
                        <address>
                            <h4>CR Supplier Info</h4><br>
                            <strong>Name: </strong><input name="suppName" th:value="${specificId.getSupplierName}" autocomplete="no-autocomplete" size="50" required><br> 
                            <strong>Address: </strong><input name="suppAddrs" th:value="${specificId.getSupplierAddress}" autocomplete="no-autocomplete" size="50" required><br> 
                            <strong>TIN: </strong><input name="suppTIN" th:value="${specificId.getSupplierTin}" autocomplete="no-autocomplete" size="50" required><br>
                            <strong>Cash: </strong><input name="cash" th:value="${specificId.getCash}" autocomplete="no-autocomplete" size="50" required><br>
                            <strong>Check no.: </strong><input name="chckNo" th:value="${specificId.getCheckNo}" autocomplete="no-autocomplete" size="50" required><br>
                            <strong>Amount: </strong><input name="amount" th:value="${#numbers.formatDecimal(specificId.getAmount, 0, 'COMMA', 2, 'POINT')}" autocomplete="no-autocomplete" size="50" required><br>
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <address>
                            <strong>Cashier Name:</strong><br>
                            <span th:text="${specificId.getCashierName}"></span> 
                        </address>
                    </div>
                    <div class="col-md-6 text-md-right">
                        <address>
                            <strong>Collection Receipt Date:</strong><br>
                           <input type="date" name="orDate" th:value="${specificId.getCollectionReceiptDate}" required><br><br>
                        </address>
                    </div>
                </form>   
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>CR Summary</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th><strong>Invoice Number</strong></th>
                                        <th class="text-center"><strong>Amount</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                         
                                    <tr th:each="crInvoiceInfo: ${crInvoiceInfo}">
                                        <td class="text-left" th:text="${crInvoiceInfo.invoice}"></td>
                                        <td class="text-center" th:text="${crInvoiceInfo.invoiceAmount}"></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th class="text-right">Total Sales:</th>
                                            <th class="text-center val" th:text="${#numbers.formatDecimal(specificId.getAmount, 0, 'COMMA', 2, 'POINT')}"></th>
                                        </tr>
                                        <tr>
                                            <th class="text-right">EWT:</th>
                                            <th class="text-center val" th:text="${#numbers.formatDecimal(specificId.getEwt, 0, 'COMMA', 2, 'POINT')}"></th>
                                        </tr>
                                        <tr>
                                            <th class="text-right">Total:</th>
                                            <th class="text-center val" th:text="${#numbers.formatDecimal(specificId.getTotal, 0, 'COMMA', 2, 'POINT')}"></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Modal -->

<div class="modal fade" id="crCreatedModal" tabindex="-1" role="dialog" aria-labelledby="crCreatedModalLabel" aria-hidden="true" th:if="${hideDivSuccess}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crCreatedModalLabel" style="color:green">Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Collection Receipt has been successfully updated.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<div class="modal fade" id="invoiceLimitModal" tabindex="-1" role="dialog" aria-labelledby="invoiceLimitModalLabel" aria-hidden="true" th:if="${hideDivError}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="invoiceLimitModalLabel" style="color:red;">Error updating Collection Receipt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Update failed, check if the fields are correct.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#invoiceLimitModal').modal('show');


        $('#crCreatedModal').modal('show');
        setTimeout(function() {
            $('#crCreatedModal').modal('hide');
        }, 3000);
    });
</script>        
</body>
</html>